<div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>Result</th>
          <th>When</th>
        </thead>
        <tbody>
          <tr *ngFor="let quotation of lastQuotations" (click)="announceHistoricQuotation(quotation)">
            <td>{{quotation.source}}</td>
            <td>{{quotation.destination}}</td>
            <td>{{quotation.amount}}</td>
            <td>{{quotation.result}}</td>
            <td>{{quotation.time | date : 'MM-dd-yyyy HH:MM:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
