<div class="container-fluid" *ngIf="lastQuotations != null && lastQuotations.length > 0">
    <h2>Last 10 convertions</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>Result</th>
          <th>When</th>
        </thead>
        <tbody>
          <tr *ngFor="let quotation of lastQuotations" (click)="announceHistoricQuotation(quotation)">
            <td>{{quotation.source}}</td>
            <td>{{quotation.destination}}</td>
            <td>{{quotation.amount}}</td>
            <td>{{quotation.result}}</td>
            <td>{{quotation.time}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>* Click the line to repeat the quotation.</p>
</div>
