<div class="container-fluid">
  <ngx-loading [show]="loading"></ngx-loading>
  <h2>Do your Conversion</h2>
  <form #formConversion="ngForm" class="form-horizontal">
    <div class="form-group">
      <label for="sourceCurrency" class="col-sm-4 control-label">Source Currency</label>
      <div class="col-xs-8 pull-right">
        <select class="form-control" id="sourceCurrency" name="sourceCurrency" [(ngModel)]="quotation.source" #fieldSourceCurrency="ngModel" required (change)="!formConversion.pristine && formConversion.valid && (!fieldAmount.disabled && !(fieldAmount.value === '0')) && (!fieldDestinationCurrency.disabled && fieldDestinationCurrency.value !== '' && !(fieldSourceCurrency.value === fieldDestinationCurrency.value)) && onConversion()">
              <option *ngFor="let currency of currencyList" value="{{currency.initials}}">{{currency.initials + ' - ' + currency.description}}</option>
          </select>
      </div>
    </div>
    <div [ngClass]="((fieldAmount.errors && (fieldAmount.dirty || fieldAmount.touched)) || fieldAmount.value === '0' && (fieldAmount.dirty || fieldAmount.touched)) ? 'form-group has-error' : 'form-group'">
      <label  class="col-sm-4 control-label" for="amount">Amount</label>
      <div class="col-xs-8 pull-right">
          <div class="input-group">
              <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="quotation.amount" #fieldAmount="ngModel" placeholder="Amount" required minlength="1" (change)="!formConversion.pristine && formConversion.valid && (!fieldAmount.disabled && !(fieldAmount.value === '0')) && (!fieldDestinationCurrency.disabled && fieldDestinationCurrency.value !== '' && !(fieldSourceCurrency.value === fieldDestinationCurrency.value)) && onConversion()" [disabled]="!(fieldSourceCurrency.pristine === false) ? true : false">
              <div class="input-group-addon">.00</div>
          </div>
          <div *ngIf="((fieldAmount.errors && (fieldAmount.dirty || fieldAmount.touched)) || fieldAmount.value === '0' && (fieldAmount.dirty || fieldAmount.touched))">
            <span id="helpBlock2" class="help-block" *ngIf="fieldAmount.errors && fieldAmount.errors.required">The amount is required.</span>
            <span id="helpBlock2" class="help-block" *ngIf="fieldAmount.errors && fieldAmount.errors.minlength">User amount must be at least 1 characters long.</span>
            <span id="helpBlock2" class="help-block" *ngIf="fieldAmount.value === '0'">User amount be greater than zero.</span>
          </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="( (fieldDestinationCurrency.dirty || fieldDestinationCurrency.touched) && fieldSourceCurrency.value === fieldDestinationCurrency.value || (fieldDestinationCurrency.dirty || fieldDestinationCurrency.touched) && fieldSourceCurrency.errors ) ? 'form-group has-error' : 'form-group'">
      <label for="destinationCurrency" class="col-sm-4 control-label">Destination Currency</label>
      <div class="col-xs-8 pull-right">
          <select class="form-control" id="destinationCurrency" name="destinationCurrency" [(ngModel)]="quotation.destination" #fieldDestinationCurrency="ngModel" required (change)="!formConversion.pristine && formConversion.valid && (!fieldAmount.disabled && !(fieldAmount.value === '0')) && (!fieldDestinationCurrency.disabled && fieldDestinationCurrency.value !== '' && !(fieldSourceCurrency.value === fieldDestinationCurrency.value)) && onConversion()" [disabled]="!(fieldSourceCurrency.pristine === false && fieldAmount.value > 0) ? true : false">
              <option *ngFor="let currency of currencyList" value="{{currency.initials}}">{{currency.initials + ' - ' + currency.description}}</option>
          </select>
          <div *ngIf="( (fieldDestinationCurrency.dirty || fieldDestinationCurrency.touched) && fieldSourceCurrency.value === fieldDestinationCurrency.value || (fieldDestinationCurrency.dirty || fieldDestinationCurrency.touched) && fieldSourceCurrency.errors )">
            <span id="helpBlock2" class="help-block" *ngIf="fieldDestinationCurrency.errors && fieldDestinationCurrency.errors.required">The destination currency is required.</span>
            <span id="helpBlock2" class="help-block" *ngIf="fieldSourceCurrency.value === fieldDestinationCurrency.value">Source and destination currencies can not be equal.</span>
          </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="disabledTextInput">Result</label>
      <div class="col-xs-8 pull-right">
          <input type="text" id="result" name="result" class="form-control" disabled value="{{quotation.result}}" [disabled]="!(fieldSourceCurrency.pristine === false && fieldAmount.value > 0 && fieldDestinationCurrency.pristine == false) ? true : false">
      </div>
    </div>
  </form>
</div>
