<nav class="navbar navbar-inverse">
  <div class="container">
      <div class="navbar-header">
          <span class="navbar-brand">Currency Converter</span>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/login" *ngIf="!(this.loginState$ | async).isAuthenticated">
            Login <span class="sr-only">(current)</span>
          </a></li>
          <li><a routerLink="/panel" *ngIf="(this.loginState$ | async).isAuthenticated">Conversion</a></li>
          <li><a routerLink="/logout" *ngIf="(this.loginState$ | async).isAuthenticated">Logout</a></li>
          <li><a routerLink="/signup" *ngIf="!(this.loginState$ | async).isAuthenticated">Registration</a></li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
